body {
    padding: 0;
    margin: 0;
}

.container {
    background: linear-gradient(to right bottom, #213b64, #294e85, #3261a7, #3b75cb, #4689f0);
    background-repeat: no-repeat;
    width: 100%;
    height: 940px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    justify-content: center;
}

.formulario {
    background: white;
    width: 450px;
    height: 400px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.logo-login {
    width: 150px;
    margin-left: 140px;
}

.text-box {
    height: 25px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-google {
    background: white;
    padding: 12px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
}

.btn-google img {
    align-self: flex-start;
}

.btn-google span {
    flex-basis: 400px;
}

.btn {
    background: #4689f0;
    padding: 12px;
    margin: 5px;
    border-radius: 10px;
    color: white;
    text-align: center;
}